@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400);

body {
	background:black url('footer_lodyas.png');
	margin: 0 auto;
	font: 18px 'Source Sans Pro';
	font-weight: 200;
	color: white;
}
html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }
p { 
    width:inherit;
    white-space: pre-wrap;
}
/*Header*/
header {
	background: #cc3333;
	opacity: 0.9;
	width: 100%;
	height: 50px;
	z-index: 2;
	position: fixed;
}
div#header-title {
	display: inline-block;
	float: left;
	padding-left: 30px;
}
nav {
	display: inline-block;
	float: right;
	padding: 10px 30px 10px 10px;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav li {
	display: inline-block;
	margin-right: 30px;
}
nav li.with-border {
	border-right: 1px solid white;
	padding-right: 30px;
}
nav a:link, nav a:visited {
	text-decoration: none;
	color: #ffffff;
}
nav a:hover {
	color: #ff6666;
}

/*Welcome Section*/
section#welcome {
	z-index: -1;
	background-image:url('colorful_clouds_2-wallpaper-1600x900.jpg');
	width: 100%;
	height: 600px;
	background-position: center;
}
div#welcome-text {
	position: absolute;
	top: 300px;
	width: 100%;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	opacity: 0.8;
	color: white;
	font-size: 100px;
}

/*About Section*/
section#about {
	width: 100%;
}

div#about-back , div.three-back, div.anime-back {
	background-color: #0f0f0f;
	width: 90%;
	margin: 0 auto;
}
div#about-text, div.anime-text {
	text-align: left;
	padding-left: 30px;
	padding-bottom: 20px;
}
h1 {
	background-color: #cc3333;
	font-size: 30px;
	font-weight: 400;
	text-align: left;
	padding: 10px 30px 5px 30px;
	text-transform: uppercase;
	color: black;
}

/*Pages Section */
div.three-items {
	display: block;
	text-align: center;
	width: 100%;
}
div.an-item {
	display: inline-block;
	width: 33%;
}
div.item-text {
	padding: 10px 70px 10px 70px;
	text-align: left;
}

/*Works Pages*/
div.table {
	display: table;
	table-layout: fixed;
	width: 80%;
	text-align:center;
	background-color: white;
	position: absolute;
	top: 300px;
	left: 10%;
}
div.table-row {
	display: table-row;
}
div.table-cell {
	padding: 40px 30px;
	display: table-cell;
	color: black;
}
/*Photography Page*/
div#photo-back {
	position: relative;
	top: 60px;
	bottom: 100px;
	width: 85%;
	margin: 0 auto;
}
.entry {
	margin: 7px;
	padding: 10px 12px 8px 12px;
	float: left;
	position: relative;
	overflow: hidden;
	background-color: #1a1a1a;
	border: 1px solid #1a1a1a;
}
/*Buttons*/
.button {
	/*Button Styles*/
	display: block;
	height: 10%;
	width: 200px;
	background-color: #33cccc;
	border: 2px solid black;
	border-radius: 50%;
	/*Text Styles*/
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	line-height: 190px;
	/*Fancy Styles*/
	background: linear-gradient(top, #34696f, #2f5f63);

}
a.button, a.int-button {
	text-decoration: none;
}
a.button:hover {
	background-color: #62d8d8;
	z-index: -1;
}
.int-button {
	display: block;
	margin: 0 auto;
	width: 90%;
	background-color: #cccccc;
	border: 1px solid black;
	color: black;
	text-align: center;
	font-size: 25px;
	font-weight: 400px;
	line-height: 100px;
}
a.int-button:hover {
	background-color: #d6d6d6;
	z-index: -1;
}
/*Anime Page*/
section#akame-head {
	z-index: -1;
	background-image:url('akame.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
	width: 100%;
}
div.anime-title {
	position: relative;
	top: 300px;
	width: 100%;
	text-align: center;
	text-shadow: 2px 2px 2px #000000;
	opacity: 0.8;
	color: white;
	font-size: 50px;
}
section#tokyo-head {
	z-index: -1;
	background-image:url('Tokyo Ghoul.jpg');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	top: 20px;
	height: 400px;
	width: 100%;
}
/*Footer*/
#footer {
	background-color: #cccccc;
	opacity: 0.9;
	clear: both;
	height: 3em;
	margin-top: 1em;
	color: black;
}
#content {
	padding-bottom: 3em;
}
div#footer p {
	margin: 10px 10px 10px 10px;
	color: black;
}